@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --misty-rose: #ffd9daff;
    --blush: #ea638cff;
    --raspberry-rose: #ba3365ff;
    --murrey: #89023eff;
    --tyrian-purple: #5d1b3fff;
    --gunmetal: #30343fff;
    --eerie-black: #1b2021ff;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;

        /* CSS HEX */
    --ou-crimson: #880d1eff;
    --rusty-red: #dd2d4aff;
    --bright-pink-crayola: #f26a8dff;
    --amaranth-pink: #f49cbbff;
    --light-cyan: #cbeef3ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Cormorant Garamond';*/
    font-family: "Zilla Slab", serif;
}

body{
    /*font-family: 'Poppins', sans-serif;*/
    background-color: var(--white);
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggler{
    display: none;
}
.nav__logo a{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.link a{
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.link a:hover{
    color: var(--murrey);
    background-color: var(--white);
}
.link .nav__btn{
    padding: .5rem 2rem;
    color: var(--white) !important;
    background-color: var(--blush);
    border-radius: 5px;
}
.link .nav__btn:hover{
    background-color: var(--murrey);
}

/*section*/
section{
    height: 130vh;
    width: 100%;
}
/*section*/

/*container*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
}

.container .land{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding: 30px;
    border: 1px solid black;
    
}

.land_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
    height: 10vh;
    align-items: center;
    gap: 10px;
}

.Rendez-vous{
    width: 50%;
    background: var(--raspberry-rose);
    font-weight: 600;
}

.container .card{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.card .card__pic{
    border: 1px solid black;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img{
    width: 90%;
    box-sizing: border-box;
    height: 64vh;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}
img:hover{
    transform: scale(1.1);
}



/*container*/

/*fonts*/

h1{
    font-size: 65px;
    color: black;
    font-weight: 800;
    height: 10vh;
    margin-bottom: 20px;
}
h2{
    font-size: 35px;
    color: black;
    font-weight: 800;
    height: 10vh;
}
h3{
    font-size: 30px;
    font-weight: 800;
}

p{
    font-size: 25px;
    font-weight: 600;
}

/*fonts*/

/*button*/
button{
    width: 30%;
    height: 8vh;
    background: none;
    border-radius: 10px;
    font-size: 130%;
    color: var(--white);
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: var(--murrey);
    color: var(--misty-rose);
    transform: scale(1.05);
}

/*Section About*/

#about_us{
    height: 90vh;
}

/*header*/
header{
    justify-content: center;
    color: var(--murrey);
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-weight: 600;
    height: 8vh;
    border: 1px solid black;
}
/*header*/



/*Section About*/

.container__about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}

.text__about{
    width: 50%;
    border: 1px solid black;
    height: 60vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.land_button_about{
    display: flex;
    align-items: left;
    border: 1px solid black;
    margin-top: 15px;
}
.connexion{
    width: 30%;
    background: var(--raspberry-rose);
    font-weight: 600;
}

.container__about .card{
    width: 50%;
    height: 65vh;
}

.card__about{
    width: 50%;
}

.card__pic__about{
    border: 1px solid black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.about__pic{
    height: 70vh;
    object-fit: cover;
    width: 50%;
}

/*services*/

.container__services{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    border: 1px solid black;
    padding: 40px;
    gap: 10px;
}

.container__services .services_card{
    width: 100%;
    height: 75vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/*services*/

/* Responsive works */

@media (max-width: 767px){


}

